#cardrest.card-img-top{
	 height: 24rem;
}

.card-header{
	color: #000000;
	font-size: 18px;
}
.card-title{
	color: #FCAC45;
	font-size: 22px;
}

.col {
    text-align: left;
}
p
{
	padding-top: 0px;
}
#facebook{
    color:  #3b5998;
}
#facebook:focus, #facebook:hover{
  color:  #3b5998;
  font-weight: 700;

}
#secondcol{
	padding-left: 2px;
}
#firstcol{
	padding-left: 5px;
}
#restlist{
  background-color: #f5f0f0;
}
#searchrest{
  padding-left:1%;
}
b#sideHeading{
    font-weight: bolder;
    font-size: large;
}
